<div class="row bg-light text-dark mb-5 p-3 main-nav shadow">
  <img src="assets/logo-bitax.png" class="img-fluid h-100">
  <h1 class="ml-5">Bitax File Upload</h1>
</div>

<div class="row">
  <div class="col-md-4 text-center mb-5">
    <h4>Seleccione Archivos</h4>
    <div appNgDropFiles [archivos]="archivos" [ngClass]="{ 'file-over': estaSobreElemento }" (mouseSobre)="estaSobreElemento = $event" class="well drop-zone">
      <h4>Deje caer aquí los archivos</h4>
      <img src="assets/drop-images.png" class="img-fluid draganddrop">
    </div>
  </div>

  <div class="col-md-8 text-center mt-sm-5 mt-md-0 mt-lg-0 mt-xl-0">
    <h4>Cargar Archivos</h4>

    <input hidden type="file" #uploader (change)="uploadFile($event)" multiple/>
    <button class="btn btn-secondary mx-3" (click)="uploader.click()">Seleccionar Archivos</button>
    <button class="btn btn-success mx-3" (click)="cargarArchivos()" [disabled]="archivos.length === 0">Procesar Archivos</button>
    <button class="btn btn-danger mx-3" (click)="limpiarArchivos()">Limpiar Archivos</button>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Nombre Archivo</th>
          <th>Tamaño</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let archivo of archivos; let i = index;">
          <td>{{ archivo.nombreArchivo }}</td>
          <td>{{ archivo.archivo.size / 1024 / 1024 | number: '.2-2'}} MB</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="this.archivos.splice(i, 1)">X</button>  
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>